<a class="max-w rounded overflow-hidden shadow-lg border border-gray-200 bg-white flex flex-col" href="{{talk.data.page.url}}">
  <div class="px-6 pt-4 pb-2 flex-grow">
    <div class="text-lg my-2 font-display text-gray-900">{{ talk.data.talk.title }}</div>
  </div>
  <div class="flex items-center px-6 pb-6">
    {% for speaker in talk.data.speakers %}
      <img class="w-10 h-10 rounded-full mr-2" src="/assets/img/people/{{speaker.photo}}" alt="Photo of {{speaker.name}}">
    {% endfor %}
    <div class="text-xs">
      {% assign names = talk.data.speakers | map: "name" %}
      {% assign twitters = '' %}
      {% for speaker in talk.data.speakers %}
        {% if speaker.twitter %}
          {% if twitters.size > 0 %} {% assign twitters = twitters | append: ',' %} {% endif %}
          {% assign twitters = twitters | append: '@' %}
          {% assign twitters = twitters | append: speaker.twitter %}
        {% endif %}
      {% endfor %}

      <p class="text-gray-900 leading-none">{{names | join: " & "}}</p>
      {% if twitters.size > 0 %}
        <p class="text-gray-700 leading-none mt-2">{{twitters | split: ',' | join: " & " }}</p>
      {% endif %}

      {% comment %} {% if talk.data.speaker.twitter %}
      {% endif %} {% endcomment %}
    </div>
  </div>
</a>
