<!doctype html>
<html lang="en">
  <head>
    {% if talk.title %}
      <title>{{talk.title}} - You Got This</title>
    {% else %}
      <title>You Got This - Core Skills Conferences</title>
    {% endif %}

    <link rel="stylesheet" href="/assets/css/style.css">
    <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>✊</text></svg>">

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <meta property="og:image" content="{{site.baseURL}}/assets/img/og.png">
    <meta name="description" content="{{site.description}}">
    <meta name="og:description" content="{{site.description}}">
    <meta name="twitter:card" content="summary">
    <meta name="twitter:url" content="{{site.baseURL}}">
    <meta name="twitter:title" content="You Got This - Core Skills Conferences">
    <meta name="twitter:description" content="{{site.description}}">
    <meta name="twitter:image" content="{{site.baseURL}}/assets/img/og.png">

    <meta name="monetization" content="$ilp.uphold.com/DBEbnWEmPyJJ">
  </head>
  <body class='flex flex-col min-h-screen'>
    {% include announcement %}
    {% include header %}
    <div class="page flex-1 bg-white dark:bg-gray-800">
      {{content | safe}}
    </div>
    {% include footer %}
    <script src="/assets/js/lazysizes.js"></script>
    <script async defer src="https://uatu.yougotthis.io/latest.js"></script>
    <noscript><img src="https://uatu.yougotthis.io/noscript.gif" alt=""/></noscript>
  </body>
</html>
