---
layout: base
permalink: photos/
events:
  - name: You Got This Birmingham 2020
    photographer: Harshpal Bhirth
    date: January 18 2020
    slug: 2020-birmingham
  - name: You Got This London 2019
    photographer: Paul Clarke
    date: January 19 2019
    slug: 2019-london
---

<h1 class="text-center tracking-tight leading-2 font-display pb-10 pt-16 md:pt-10 lg:pt-16 text-3xl text-gray-900 sm:text-4xl sm:leading-none md:text-5xl dark:text-gray-200">Event Photos</h1>

{% for event in events %}
  <div class='text-center mb-10 px-4 text-gray-700 tracking-tight leading-2'>
    <h2 class="font-display text-xl sm:text-2xl lg:text-3xl pt-4 dark:text-gray-200">{{ event.name }}</h2>
    <p class='max-w-xl mx-auto dark:text-gray-300'>Photos were taken by {{event.photographer}} on {{event.date}}. You may use them, but please provide a credit to the photographer and our event (CC-BY-SA License).</p>
    <div class='max-w-screen-lg mx-auto mt-5 photos'>
      {% for photo in photos %}
        {% if photo.event == event.slug %}
          <a href="/assets/img/events/{{event.slug}}/{{photo.file}}.jpg">
            <img class='relative mx-auto w-full rounded-lg mb-2 shadow-lg lg:max-w-md' src="/assets/img/events/{{event.slug}}/{{photo.file}}_small.jpg" alt="{{photo.text}}">
          </a>
        {% endif %}
      {% endfor %}
    </div>
  </div>
{% endfor %}

<style>
.photos {
  columns: 10; column-gap: 0.5em
}
@media screen and (max-width: 1024px) {
  .photos { columns: 8 }
}
@media screen and (max-width: 768px) {
  .photos { columns: 6 }
}
@media screen and (max-width: 640px) {
  .photos { columns: 4 }
}
@media screen and (max-width: 400px) {
  .photos { columns: 3 }
}
</style>
